<div class="footer_section1">
  <div class="footer_content">

    <div class="footer_imagecaption">
      <h3>{{ label }}</h3>
    </div>

    <div class="footer_image">
        {{ content }}
    </div>

  </div>
</div>