<section class="upcomingevent">
  <div class="container">
    <div class="event_heading">
      <h3>UPCOMING EVENT</h3>
      <p>Soil is a global movement launched by Sadhguru, to address the soil.</p>
    </div>
    <div class="event_buttons">
      <a href="#"> <button class="button"><i class="fa-solid fa-arrow-left"></i></button></a>
      <a href="#"> <button class="button"><i class="fa-solid fa-arrow-right"></i></button></a>
    </div>
    <div class="event_section">
      {{ content.field_section_reference }}
    </div>
  </div>
</section>