<div class="footer_section1">
    <div class="footer_content">
        <div class="footer_imagecaption">
        <h3>{{ label }}</h3>
            {{ content.body }}

        <div class="buttonIn">
            {{ content.field_section_reference }}
        </div>

        </div>
    </div>
</div> 