<section>
	<div class="container">
		<div class="goal">
			<div class="goal_image">
				<img src = "{{content.field_image[0]['#markup']}}" />
			</div>
			<div class="goal_image_content">
				{{ content.body }}
				<div class="goal_button">
					{{ content.	field_teaser_text }}
          <a href="">Read More</a>
				</div>
			</div>
		</div>
	</div>
</section>
