<div class="donation_image">
    <img src="{{ content.field_bg_image[0]['#markup'] }}">"
    <div class="donation_imagecontent">

      <h5>{{ label }}</h5>
      {{ content.body }}
    </div>
  </div>