<div class="achivement_blocks">
	<div class="acardsection">
		<div class="achivements_cardimage">
			<i class="{{content.field_icons[0]['#context']['value']}}"></i>
		</div>
		<div class="achivements_cardcaption">
			<p>{{ label[0]['#context']['value'] }}</p>
		</div>
		<div class="achivements_values">
			<span>{{ content.field_price}}</span>
		</div>
	</div>
</div>
