<header>
    <div class="container">
      <div class="header">
        <div class="header__contact">
            {{ page.contact }}
          </div>
      </div>

      {#<nav>
        <div class="nav_bar">
          <div class="nav_topic">
     <a href="#"><h1>Environs</h1></a>  
          </div>
          <div class="nav_options">
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Service</a>
            <a href="#">Causes</a>
            <a href="#">Events</a>
            <a href="#">Pages</a>
                   <a href="#">Donate</a>
          </div>
      </nav>#}
  </header>

  